.settings
bin
.classpath
.project
.idea
target
*/Orientaçao-Objeto-Java/ASSESSMENTS
*/Orientaçao-Objeto-Java/Material - Etapa 1-20211105
*/Fundamentos-Java
*/Projeto-de-Bloco_Java/ASSESSMENTS/joao_figueredo_DR5_TP1.docx
*/Projeto-de-Bloco_Java/ASSESSMENTS/joao_figueredo_DR5_TP1.pdf
*/Projeto-de-Bloco_Java/ASSESSMENTS/joao_figueredo_DR5_TP3.docx
*/Projeto-de-Bloco_Java/ASSESSMENTS/joao_figueredo_DR5_TP3.pdf
*/Projeto-de-Bloco_Java/CadastroContatos-DB
*/Projeto-de-Bloco_Java/ETP1
*/Projeto-de-Bloco_Java/ETP2
*/Projeto-de-Bloco_Java/UML_Diagrams
*/Projeto-de-Bloco_Java/CadastroContatos_EDC.zip
*/Desenvolvimento-de-Servicos-em-Nuvem-Java/Joao_Figueredo_DR4_TP1.zip