.settings
bin
.classpath
.project
.idea
target
*/Orientaçao-Objeto-Java/ASSESSMENTS
*/Orientaçao-Objeto-Java/Material - Etapa 1-20211105
*/Fundamentos-Java
*/Projeto-de-Bloco_Java
*/Desenvolvimento-de-Servicos-em-Nuvem-Java/Joao_Figueredo_DR4_TP1.zip